[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/cmock"]
	path = external/cmock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "external/msp430-driverlib"]
	path = external/msp430-driverlib
	url = https://github.com/phelpsw/msp430-driverlib
